# Data Collection Module 4: World Bank API for Literacy Rate Data

<b>API Details:</b>

The World Bank API is a rich source of global development data, offering access to a wide array of indicators, including those related to education such as literacy rates. Through its World Development Indicators dataset, it provides data on adult and youth literacy rates across over 200 countries and territories, reflecting the percentage of people who can, with understanding, read and write a short, simple statement on their everyday life. World Development Indicators (WDI) Database 

<b>Data on Literacy Rate:</b>

Indicator for Adult Total Literacy Rate: "Literacy rate, adult total (% of people ages 15 and above)" (Indicator Code: SE.ADT.LITR.ZS).
Indicator for Youth Literacy Rate: "Literacy rate, youth total (% of people ages 15-24)" (Indicator Code: SE.ADT.1524.LT.ZS).

<b>Data Update Frequency:</b>

Literacy rate data within the World Bank's World Development Indicators are updated as new data become available from UNESCO and other sources, typically on an annual basis. This ensures that the dataset remains current and provides an accurate reflection of global and national trends in literacy.

<b>Accessing the API:</b>

The World Bank API is publicly accessible, requiring no API key, which simplifies the process of integrating this data into projects aimed at analyzing, visualizing, or reporting on literacy rates globally.

<b>API Documentation:</b> https://datahelpdesk.worldbank.org/knowledgebase/articles/898581-api-documentation

<b>Process:</b> This module involves accessing the World Bank API to collect relevant data on literacy rates, preprocessing this data to suit project-specific, and storing the data.

### `Goal`: Develop an up-to-date and dynamic dataset on global literacy rate statistics.

In [1]:
# Code snippet for data collection from the API
import requests
import pandas as pd

def fetch_data(indicator_code, country_code="all"):
    """Fetch data for a given country code and indicator."""
    url = f"http://api.worldbank.org/v2/country/{country_code}/indicator/{indicator_code}?format=json&date=1960:2023&per_page=10000"
    response = requests.get(url)
    data = response.json()

    if len(data) == 2 and isinstance(data[1], list):
        # Extract the indicator code or name from the dictionary for each row
        for row in data[1]:
            row['indicator'] = row['indicator']['id']
        return data[1]
    else:
        return None

# Literacy rate, adult total (% of people ages 15 and above) - Indicator Code: SE.ADT.LITR.ZS
literacy_rate_data_all_countries = fetch_data("SE.ADT.LITR.ZS", "all")
literacy_rate_data_world = fetch_data("SE.ADT.LITR.ZS", "WLD")

# Combine literacy rate data
combined_data = literacy_rate_data_all_countries + literacy_rate_data_world

# Converting to DataFrame
df_literacy_rate = pd.DataFrame(combined_data)

# Filter for necessary columns and rename them
df_literacy_rate = df_literacy_rate[['countryiso3code', 'date', 'value', 'indicator']]
df_literacy_rate.columns = ['Country Code', 'Year', 'Literacy Rate', 'Indicator']

# Pivot the dataset to have 'Year' as rows, 'Country Code' as columns, and 'Literacy Rate' as values
df_literacy_rate_pivot = df_literacy_rate.pivot_table(index='Year', columns='Country Code', values='Literacy Rate')

# Saving the data to CSV files
csv_file_path_literacy_rate = '/Users/hrishi/original-desktop/Data Science/Projects/Major_Project/data-collection/data/world_literacy_rate_data.csv'
df_literacy_rate_pivot.to_csv(csv_file_path_literacy_rate)

## Data Preprocessing

In [2]:
df = pd.read_csv(csv_file_path_literacy_rate)
df.tail(10)

,Year,Unnamed: 1,ABW,AFE,AFG,AFW,AGO,ALB,ARB,ARG,...,SST,SWZ,TCD,TEA,TEC,TLA,TMN,TSA,TSS,WLD
42,2013,75.189668,NaN,69.383102,NaN,53.002781,NaN,NaN,73.276482,NaN,...,84.960602,NaN,NaN,94.432419,98.883049,92.282288,74.810059,68.054527,62.830429,84.860138
43,2014,75.810644,NaN,69.834770,NaN,54.006760,66.030113,NaN,77.577873,NaN,...,85.230263,NaN,NaN,94.892281,98.910110,92.741333,79.083733,68.793167,63.513378,85.433708
44,2015,76.152826,NaN,70.313423,NaN,54.818321,NaN,NaN,74.981209,NaN,...,85.797142,NaN,26.002991,95.098907,98.932503,92.909889,76.516083,69.757156,64.132278,85.601830
45,2016,76.822341,NaN,71.095200,NaN,55.437920,NaN,NaN,76.386726,NaN,...,86.150352,NaN,22.311550,95.262619,99.044769,93.403793,77.691162,71.104927,64.861397,86.061157
46,2017,77.375983,NaN,71.009071,NaN,56.485538,NaN,NaN,77.170303,NaN,...,86.305801,NaN,NaN,95.429558,99.046692,93.473358,78.762627,71.790359,65.223244,86.288231
47,2018,77.430127,NaN,71.392616,NaN,59.568459,NaN,NaN,74.286133,NaN,...,86.471458,NaN,NaN,95.529839,99.203148,93.610336,75.668541,72.081512,66.683640,86.339050
48,2019,77.668287,NaN,72.634972,NaN,59.511719,NaN,NaN,74.603661,NaN,...,86.671227,NaN,NaN,95.912888,99.221291,94.071571,76.050842,71.942787,67.410858,86.489601
49,2020,77.947858,97.989998,72.785622,NaN,59.617512,NaN,NaN,75.022881,NaN,...,86.849854,89.279999,NaN,96.224907,99.297920,94.098381,76.412781,72.658607,67.547630,86.711510
50,2021,78.278093,NaN,72.581161,37.266041,60.034611,NaN,NaN,75.231178,NaN,...,86.919403,NaN,NaN,96.251106,99.328598,94.363098,76.780540,73.422470,67.591927,86.852753
51,2022,78.540741,NaN,72.600403,NaN,60.312698,72.400002,98.5,75.171532,NaN,...,87.019661,NaN,27.280001,NaN,99.349823,94.512901,77.176361,74.187759,67.715012,87.011749

In [3]:
# Dropping the unnecessary column
df.drop('Unnamed: 1', axis = 1, inplace = True)

# Converting country codes to country names for readability

# Fetch country information from the World Bank API
url = "http://api.worldbank.org/v2/country?per_page=300&format=json"
response = requests.get(url)
countries_data = response.json()

# Extract relevant data for mapping codes to names, add 'WLD' manually
countries = {country['id']: country['name'] for country in countries_data[1]}
countries['WLD'] = 'World'

In [4]:
print(f'Mapping of Codes to Countries: \n {countries}')

Mapping of Codes to Countries:
 {'ABW': 'Aruba', 'AFE': 'Africa Eastern and Southern', 'AFG': 'Afghanistan', 'AFR': 'Africa', 'AFW': 'Africa Western and Central', 'AGO': 'Angola', 'ALB': 'Albania', 'AND': 'Andorra', 'ARB': 'Arab World', 'ARE': 'United Arab Emirates', 'ARG': 'Argentina', 'ARM': 'Armenia', 'ASM': 'American Samoa', 'ATG': 'Antigua and Barbuda', 'AUS': 'Australia', 'AUT': 'Austria', 'AZE': 'Azerbaijan', 'BDI': 'Burundi', 'BEA': 'East Asia & Pacific (IBRD-only countries)', 'BEC': 'Europe & Central Asia (IBRD-only countries)', 'BEL': 'Belgium', 'BEN': 'Benin', 'BFA': 'Burkina Faso', 'BGD': 'Bangladesh', 'BGR': 'Bulgaria', 'BHI': 'IBRD countries classified as high income', 'BHR': 'Bahrain', 'BHS': 'Bahamas, The', 'BIH': 'Bosnia and Herzegovina', 'BLA': 'Latin America & the Caribbean (IBRD-only countries)', 'BLR': 'Belarus', 'BLZ': 'Belize', 'BMN': 'Middle East & North Africa (IBRD-only countries)', 'BMU': 'Bermuda', 'BOL': 'Bolivia', 'BRA': 'Brazil', 'BRB': 'Barbados', 'BRN': 'Brunei Darussalam', 'BSS': 'Sub-Saharan Africa (IBRD-only countries)', 'BTN': 'Bhutan', 'BWA': 'Botswana', 'CAA': 'Sub-Saharan Africa (IFC classification)', 'CAF': 'Central African Republic', 'CAN': 'Canada', 'CEA': 'East Asia and the Pacific (IFC classification)', 'CEB': 'Central Europe and the Baltics', 'CEU': 'Europe and Central Asia (IFC classification)', 'CHE': 'Switzerland', 'CHI': 'Channel Islands', 'CHL': 'Chile', 'CHN': 'China', 'CIV': "Cote d'Ivoire", 'CLA': 'Latin America and the Caribbean (IFC classification)', 'CME': 'Middle East and North Africa (IFC classification)', 'CMR': 'Cameroon', 'COD': 'Congo, Dem. Rep.', 'COG': 'Congo, Rep.', 'COL': 'Colombia', 'COM': 'Comoros', 'CPV': 'Cabo Verde', 'CRI': 'Costa Rica', 'CSA': 'South Asia (IFC classification)', 'CSS': 'Caribbean small states', 'CUB': 'Cuba', 'CUW': 'Curacao', 'CYM': 'Cayman Islands', 'CYP': 'Cyprus', 'CZE': 'Czechia', 'DEA': 'East Asia & Pacific (IDA-eligible countries)', 'DEC': 'Europe & Central Asia (IDA-eligible countries)', 'DEU': 'Germany', 'DJI': 'Djibouti', 'DLA': 'Latin America & the Caribbean (IDA-eligible countries)', 'DMA': 'Dominica', 'DMN': 'Middle East & North Africa (IDA-eligible countries)', 'DNK': 'Denmark', 'DNS': 'IDA countries in Sub-Saharan Africa not classified as fragile situations ', 'DOM': 'Dominican Republic', 'DSA': 'South Asia (IDA-eligible countries)', 'DSF': 'IDA countries in Sub-Saharan Africa classified as fragile situations ', 'DSS': 'Sub-Saharan Africa (IDA-eligible countries)', 'DZA': 'Algeria', 'EAP': 'East Asia & Pacific (excluding high income)', 'EAR': 'Early-demographic dividend', 'EAS': 'East Asia & Pacific', 'ECA': 'Europe & Central Asia (excluding high income)', 'ECS': 'Europe & Central Asia', 'ECU': 'Ecuador', 'EGY': 'Egypt, Arab Rep.', 'EMU': 'Euro area', 'ERI': 'Eritrea', 'ESP': 'Spain', 'EST': 'Estonia', 'ETH': 'Ethiopia', 'EUU': 'European Union', 'FCS': 'Fragile and conflict affected situations', 'FIN': 'Finland', 'FJI': 'Fiji', 'FRA': 'France', 'FRO': 'Faroe Islands', 'FSM': 'Micronesia, Fed. Sts.', 'FXS': 'IDA countries classified as fragile situations, excluding Sub-Saharan Africa', 'GAB': 'Gabon', 'GBR': 'United Kingdom', 'GEO': 'Georgia', 'GHA': 'Ghana', 'GIB': 'Gibraltar', 'GIN': 'Guinea', 'GMB': 'Gambia, The', 'GNB': 'Guinea-Bissau', 'GNQ': 'Equatorial Guinea', 'GRC': 'Greece', 'GRD': 'Grenada', 'GRL': 'Greenland', 'GTM': 'Guatemala', 'GUM': 'Guam', 'GUY': 'Guyana', 'HIC': 'High income', 'HKG': 'Hong Kong SAR, China', 'HND': 'Honduras', 'HPC': 'Heavily indebted poor countries (HIPC)', 'HRV': 'Croatia', 'HTI': 'Haiti', 'HUN': 'Hungary', 'IBB': 'IBRD, including blend', 'IBD': 'IBRD only', 'IBT': 'IDA & IBRD total', 'IDA': 'IDA total', 'IDB': 'IDA blend', 'IDN': 'Indonesia', 'IDX': 'IDA only', 'IMN': 'Isle of Man', 'IND': 'India', 'INX': 'Not classified', 'IRL': 'Ireland', 'IRN': 'Iran, Islamic Rep.', 'IRQ': 'Iraq', 'ISL': 'Iceland', 'ISR': 'Israel', 'ITA': 'Italy', 'JAM': 'Jamaica', 'JOR': 'Jordan', 'JPN': 'Japan', 'KAZ': 'Kazakhstan', 'KEN': 'Kenya', 'KGZ': 'Kyrgyz Republic', 'KHM': 'Cambodia', 'KIR': 'Kiribati', 'KNA': 'St. Kitts and Nevis', 'KOR': 'Korea, Rep.', 'KWT': 'Kuwait', 'LAC': 'Latin America & Caribbean (excluding high income)', 'LAO': 'Lao PDR', 'LBN': 'Lebanon', 'LBR': 'Liberia', 'LBY': 'Libya', 'LCA': 'St. Lucia', 'LCN': 'Latin America & Caribbean ', 'LDC': 'Least developed countries: UN classification', 'LIC': 'Low income', 'LIE': 'Liechtenstein', 'LKA': 'Sri Lanka', 'LMC': 'Lower middle income', 'LMY': 'Low & middle income', 'LSO': 'Lesotho', 'LTE': 'Late-demographic dividend', 'LTU': 'Lithuania', 'LUX': 'Luxembourg', 'LVA': 'Latvia', 'MAC': 'Macao SAR, China', 'MAF': 'St. Martin (French part)', 'MAR': 'Morocco', 'MCO': 'Monaco', 'MDA': 'Moldova', 'MDE': 'Middle East (developing only)', 'MDG': 'Madagascar', 'MDV': 'Maldives', 'MEA': 'Middle East & North Africa', 'MEX': 'Mexico', 'MHL': 'Marshall Islands', 'MIC': 'Middle income', 'MKD': 'North Macedonia', 'MLI': 'Mali', 'MLT': 'Malta', 'MMR': 'Myanmar', 'MNA': 'Middle East & North Africa (excluding high income)', 'MNE': 'Montenegro', 'MNG': 'Mongolia', 'MNP': 'Northern Mariana Islands', 'MOZ': 'Mozambique', 'MRT': 'Mauritania', 'MUS': 'Mauritius', 'MWI': 'Malawi', 'MYS': 'Malaysia', 'NAC': 'North America', 'NAF': 'North Africa', 'NAM': 'Namibia', 'NCL': 'New Caledonia', 'NER': 'Niger', 'NGA': 'Nigeria', 'NIC': 'Nicaragua', 'NLD': 'Netherlands', 'NOR': 'Norway', 'NPL': 'Nepal', 'NRS': 'Non-resource rich Sub-Saharan Africa countries', 'NRU': 'Nauru', 'NXS': 'IDA countries not classified as fragile situations, excluding Sub-Saharan Africa', 'NZL': 'New Zealand', 'OED': 'OECD members', 'OMN': 'Oman', 'OSS': 'Other small states', 'PAK': 'Pakistan', 'PAN': 'Panama', 'PER': 'Peru', 'PHL': 'Philippines', 'PLW': 'Palau', 'PNG': 'Papua New Guinea', 'POL': 'Poland', 'PRE': 'Pre-demographic dividend', 'PRI': 'Puerto Rico', 'PRK': "Korea, Dem. People's Rep.", 'PRT': 'Portugal', 'PRY': 'Paraguay', 'PSE': 'West Bank and Gaza', 'PSS': 'Pacific island small states', 'PST': 'Post-demographic dividend', 'PYF': 'French Polynesia', 'QAT': 'Qatar', 'ROU': 'Romania', 'RRS': 'Resource rich Sub-Saharan Africa countries', 'RUS': 'Russian Federation', 'RWA': 'Rwanda', 'SAS': 'South Asia', 'SAU': 'Saudi Arabia', 'SDN': 'Sudan', 'SEN': 'Senegal', 'SGP': 'Singapore', 'SLB': 'Solomon Islands', 'SLE': 'Sierra Leone', 'SLV': 'El Salvador', 'SMR': 'San Marino', 'SOM': 'Somalia', 'SRB': 'Serbia', 'SSA': 'Sub-Saharan Africa (excluding high income)', 'SSD': 'South Sudan', 'SSF': 'Sub-Saharan Africa ', 'SST': 'Small states', 'STP': 'Sao Tome and Principe', 'SUR': 'Suriname', 'SVK': 'Slovak Republic', 'SVN': 'Slovenia', 'SWE': 'Sweden', 'SWZ': 'Eswatini', 'SXM': 'Sint Maarten (Dutch part)', 'SXZ': 'Sub-Saharan Africa excluding South Africa', 'SYC': 'Seychelles', 'SYR': 'Syrian Arab Republic', 'TCA': 'Turks and Caicos Islands', 'TCD': 'Chad', 'TEA': 'East Asia & Pacific (IDA & IBRD countries)', 'TEC': 'Europe & Central Asia (IDA & IBRD countries)', 'TGO': 'Togo', 'THA': 'Thailand', 'TJK': 'Tajikistan', 'TKM': 'Turkmenistan', 'TLA': 'Latin America & the Caribbean (IDA & IBRD countries)', 'TLS': 'Timor-Leste', 'TMN': 'Middle East & North Africa (IDA & IBRD countries)', 'TON': 'Tonga', 'TSA': 'South Asia (IDA & IBRD)', 'TSS': 'Sub-Saharan Africa (IDA & IBRD countries)', 'TTO': 'Trinidad and Tobago', 'TUN': 'Tunisia', 'TUR': 'Turkiye', 'TUV': 'Tuvalu', 'TZA': 'Tanzania', 'UGA': 'Uganda', 'UKR': 'Ukraine', 'UMC': 'Upper middle income', 'URY': 'Uruguay', 'USA': 'United States', 'UZB': 'Uzbekistan', 'VCT': 'St. Vincent and the Grenadines', 'VEN': 'Venezuela, RB', 'VGB': 'British Virgin Islands', 'VIR': 'Virgin Islands (U.S.)', 'VNM': 'Viet Nam', 'VUT': 'Vanuatu', 'WLD': 'World', 'WSM': 'Samoa', 'XKX': 'Kosovo', 'XZN': 'Sub-Saharan Africa excluding South Africa and Nigeria', 'YEM': 'Yemen, Rep.', 'ZAF': 'South Africa', 'ZMB': 'Zambia', 'ZWE': 'Zimbabwe'}

In [5]:
# Function to rename columns based on the mapping
def rename_columns(df, mapping):
    # Create a new mapping for the existing columns in the DataFrame
    new_columns = {col: mapping.get(col, col) for col in df.columns}
    # Rename the columns using the new mapping
    df.rename(columns=new_columns, inplace=True)

# Rename columns in df1 and df2
rename_columns(df, countries)

In [6]:
df.tail(10)

,Year,Aruba,Africa Eastern and Southern,Afghanistan,Africa Western and Central,Angola,Albania,Arab World,Argentina,Armenia,...,Small states,Eswatini,Chad,East Asia & Pacific (IDA & IBRD countries),Europe & Central Asia (IDA & IBRD countries),Latin America & the Caribbean (IDA & IBRD countries),Middle East & North Africa (IDA & IBRD countries),South Asia (IDA & IBRD),Sub-Saharan Africa (IDA & IBRD countries),World
42,2013,NaN,69.383102,NaN,53.002781,NaN,NaN,73.276482,NaN,NaN,...,84.960602,NaN,NaN,94.432419,98.883049,92.282288,74.810059,68.054527,62.830429,84.860138
43,2014,NaN,69.834770,NaN,54.006760,66.030113,NaN,77.577873,NaN,NaN,...,85.230263,NaN,NaN,94.892281,98.910110,92.741333,79.083733,68.793167,63.513378,85.433708
44,2015,NaN,70.313423,NaN,54.818321,NaN,NaN,74.981209,NaN,NaN,...,85.797142,NaN,26.002991,95.098907,98.932503,92.909889,76.516083,69.757156,64.132278,85.601830
45,2016,NaN,71.095200,NaN,55.437920,NaN,NaN,76.386726,NaN,99.744408,...,86.150352,NaN,22.311550,95.262619,99.044769,93.403793,77.691162,71.104927,64.861397,86.061157
46,2017,NaN,71.009071,NaN,56.485538,NaN,NaN,77.170303,NaN,99.736069,...,86.305801,NaN,NaN,95.429558,99.046692,93.473358,78.762627,71.790359,65.223244,86.288231
47,2018,NaN,71.392616,NaN,59.568459,NaN,NaN,74.286133,NaN,NaN,...,86.471458,NaN,NaN,95.529839,99.203148,93.610336,75.668541,72.081512,66.683640,86.339050
48,2019,NaN,72.634972,NaN,59.511719,NaN,NaN,74.603661,NaN,NaN,...,86.671227,NaN,NaN,95.912888,99.221291,94.071571,76.050842,71.942787,67.410858,86.489601
49,2020,97.989998,72.785622,NaN,59.617512,NaN,NaN,75.022881,NaN,99.788612,...,86.849854,89.279999,NaN,96.224907,99.297920,94.098381,76.412781,72.658607,67.547630,86.711510
50,2021,NaN,72.581161,37.266041,60.034611,NaN,NaN,75.231178,NaN,NaN,...,86.919403,NaN,NaN,96.251106,99.328598,94.363098,76.780540,73.422470,67.591927,86.852753
51,2022,NaN,72.600403,NaN,60.312698,72.400002,98.5,75.171532,NaN,NaN,...,87.019661,NaN,27.280001,NaN,99.349823,94.512901,77.176361,74.187759,67.715012,87.011749

In [7]:
df[['Year', 'World']]

    Year      World
0   1970        NaN
1   1972        NaN
2   1973        NaN
3   1974        NaN
4   1975        NaN
5   1976  65.586548
6   1977  65.878326
7   1978  66.501038
8   1979  67.155006
9   1980  67.583382
10  1981  68.291908
11  1982  68.849487
12  1983  69.550400
13  1984  70.208519
14  1985  70.803398
15  1986  71.357918
16  1987  72.048683
17  1988  73.770157
18  1989  74.303841
19  1990  74.605766
20  1991  75.198761
21  1992  75.645752
22  1993  76.059624
23  1994  76.462769
24  1995  76.868942
25  1996  77.258171
26  1997  79.248680
27  1998  80.433929
28  1999  80.768402
29  2000  80.874519
30  2001  81.204330
31  2002  81.571983
32  2003  82.065559
33  2004  82.438942
34  2005  82.377769
35  2006  82.463654
36  2007  82.928062
37  2008  83.256660
38  2009  83.513199
39  2010  84.160004
40  2011  84.322647
41  2012  84.761063
42  2013  84.860138
43  2014  85.433708
44  2015  85.601830
45  2016  86.061157
46  2017  86.288231
47  2018  86.339050
48  2019  86.489601
49  2020  86.711510
50  2021  86.852753
51  2022  87.011749

### Export the data

In [8]:
df.to_csv(csv_file_path_literacy_rate)